.App {
  background-color: #ddffdd;
  width: 400px;
  height: 100%;;
  margin: auto;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) 
{
  .App 
  {
    background-color: red 5px solid;
  }
 
 .chat
 {
    background-color: rgb(119, 201, 146);
  }
}

.userlist 
{
  flex: 1;
  background-color: #331a12;
}

.chat
{
  flex: 12;
}

.inputbox 
{
  flex: 1;
  background-color: rgb(80, 65, 65);
}